section.home-1
	.container
		.services
			.service
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/1.png", alt="")
						figcaption
							.title
								h2 thiết kế nhà phố - căn hộ
							.overlay
						
						.hidden
							.title
								h2 thiết kế nhà phố - căn hộ
							.description
								p Đội ngũ chuyên nghiệp của X’Home luôn đảm bảo bạn sẽ có một không gian nội thất hài hòa và tinh tế nhất.
						.background-hidden
			.service
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/2.png", alt="")
						figcaption
							.title
								h2 Thiết kế văn phòng - nhà hàng - showroom
							.overlay
						
						.hidden
							.title
								h2 Thiết kế văn phòng - nhà hàng - showroom
							.description
								p Đội ngũ chuyên nghiệp của X’Home luôn đảm bảo bạn sẽ có một không gian nội thất hài hòa và tinh tế nhất.
						.background-hidden
			.service
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/3.png", alt="")
						figcaption
							.title
								h2 Thiết kế nội thất đặc biệt
							.overlay
						
						.hidden
							.title
								h2 Thiết kế nội thất đặc biệt
							.description
								p Đội ngũ chuyên nghiệp của X’Home luôn đảm bảo bạn sẽ có một không gian nội thất hài hòa và tinh tế nhất.
						.background-hidden