section.home-2
	.container
		.row
			.col
				.tagline
					.title
						h2 giới thiệu
					.description
						p TOP 10 THƯƠNG HIỆU VÀNG THĂNG LONG NĂM 2017 VÀ LÀ CÔNG TY THIẾT KẾ, THI CÔNG NỘI THẤT &amp; XÂY DỰNG CÓ LƯỢNG KHÁCH HÀNG LỚN NHẤT TẠI VIỆT NAM.
		.row
			.col-12.col-sm-6.col-lg-3.block
				figure
					img(src="./img/home/icon_1.png", alt="")
					figcaption
						p Hệ thống Showroom &amp; Chi nhánh trải dài khắp 3 Miền: HÀ NỘI, HẢI PHÒNG, HẢI DƯƠNG, QUẢNG NINH, MIỀN TRUNG, ĐÀ NẴNG, SÀI GÒN.
			.col-12.col-sm-6.col-lg-3.block
				figure
					img(src="./img/home/icon_2.png", alt="")
					figcaption
						p Là Doanh nghiệp duy nhất có thể cung cấp đầy đủ trọn gói các sản phẩm dịch vụ từ Thiết kế thi công nội thất đến Xây mới, cải tạo. Cung cấp các sản phẩm trang trí gia đình, Thiết bị đồ dùng nhà bếp, Đồ gia dụng, ...
			.col-12.col-sm-6.col-lg-3.block
				figure
					img(src="./img/home/icon_3.png", alt="")
					figcaption
						p Chính sách bảo hành &amp; bảo trì sản phẩm độc nhất kéo dài đến 06 năm đi kèm với chế độ kiểm tra định kỳ từ 3 tháng đến 6 tháng/1 lần để đánh giá chất lượng sản phẩm trong quá trình sử dụng của khách hàng
			.col-12.col-sm-6.col-lg-3.block
				figure
					img(src="./img/home/icon_4.png", alt="")
					figcaption
						p Đội ngũ nhân sự chất lượng cao gồm hàng trăm Kiến trúc sư, Cử nhân.... Có nhà máy sản xuất trực thuộc và hàng chục cơ sở sản xuất pên kết, tạo việc làm cho hàng nghìn lao động.