section.lienhe-1
	.container
		.row
			.col
				.tagline
					.title
						h1 liên hệ
					.description
						p Quý khách vui lòng điền thông tin và gửi những góp ý, thắc mắc cho Xhome Đà nẵng. Chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
		.row
			.col-12.col-lg-4
				.info(bg-img="./img/lienhe/bg.png")
					figure
						.box-zoom
							img(src="./img/global/logo.png", alt="")
						figcaption
							p Số 514 - Hoàng Diệu - Q Hải Châu - TP Đà Nẵng
							p 0236 656 3939
							p info@xhomedanang.com
			.col-12.col-lg-8
				.wrap-form
					div
						.form-group
							input(type="text" placeholder="Họ và tên...")
						.form-group
							input(type="text" placeholder="Email...")
						.form-group
							input(type="text" placeholder="Tiêu đề...")
						.form-group
							input(type="text" placeholder="Số điện thoại...")
						.form-group
							textarea(cols="30", rows="7" placeholder="Nội dung...")
					.frm-captcha
					.frm-btnwrap.form-group
						label &nbsp;
						.frm-btn.nth-viewmore
							input(type="submit" value="Gửi")
