section.tuyendung-2
	.container
		.row
			.col
				.tagline
					.title
						h2 vị trí tuyển dụng

		.collapse-desktop-wrapper
			.collapse-wrapper
				.collapse-title
					p.career Vị trí ứng tuyển
					p.number Số lượng ứng tuyển
					p.place Địa điểm
					p.time Hạn nộp hồ sơ
				.collapse
					.collapse-heading
						p.career 
							|Tuyển nhân viên graphic designer 
							span.new Mới
						p.number 01
						p.place tp đà nẵng
						p.time 24/08/2018
						.mdi.mdi-dots-horizontal
					.collapse-content
						a(href="javascript:void(0)").collapse-content-toggle-button
							i.mdi.mdi-close
						p
							strong Mô tả công việc:
						p - Khảo sát hiện trạng công trình, thực hiện bản vẽ theo khảo sát.
						p - Thực hiện các bản vẽ kỹ thuật: Khai triển bản vẽ kiến trúc , Chi tiết nội thất Chi tiết đồ gỗ, bản vẽ M&amp;E cơ bản đảm bảo theo yêu cầu của thiết kế.
						p - Triển khai bản vẽ kỹ thuật từ phương án 3D, nhận bàn giao từ bộ phận thiết kế.
						p - Cht chi tiết bản vẽ với khách hàng và đưa vào thi công.
						p - Hỗ trợ kiến trúc sư trong việc kiểm tra thi công tại công trình.Được đóng đầy đủ BHYT, BHXH, BH thất nghiệp.
						p - Làm việc trong môi trường năng động, sang tạo, nhiều cơ hội thăng tiến trong công việc.
						br
						p Mức lương: 10-20 triệu.
						br
						p Kinh ngiệm: ít nhất 1 năm.
						br
						p Bằng cấp : Cao đẳng.
						br
						p Số lượng: 2.
						br
						p Yêu cầu :
						p - Nam, nữ tốt nghiệp các trường mỹ thuật CN, Kiến trúc, Xây Dựng, …chuyên ngành kiến trúc, công trình và các ngành khách liên quan.
						p - Sử dụng tốt Autocad, có khả năng tư duy hình khối tốt.
						p - Đã có kinh nghiệm trong việc triển khai bản vẽ kỹ thuật thi công nội thất ít nhất 1 năm.
						p Hồ sơ xin việc bằng tiếng Tiếng Việt bao gồm:
						p - Đơn xin dự tuyển và CV (có ảnh);
						p - Trong CV nêu rõ vị trí ứng tuyển, chi tiết kinh nghiệm công tác và gửi 1 số file công trình đã triển khai qua mail.
						br
						p Gửi vào email: : tuyendung@xhomedn.com.vn. 
						br 
						p Liên hệ: Phòng HC- NS : 0236 656 3939. 
						br

						a.collapse-submit(href="javascript:void(0)") ứng tuyển
				.collapse
					.collapse-heading
						p.career Tuyển nhân viên graphic designer
						p.number 02
						p.place tp đà nẵng
						p.time 24/08/2018
						.mdi.mdi-dots-horizontal
					.collapse-content
						a(href="javascript:void(0)").collapse-content-toggle-button
							i.mdi.mdi-close
						p
							strong Mô tả công việc:
						p - Khảo sát hiện trạng công trình, thực hiện bản vẽ theo khảo sát.
						p - Thực hiện các bản vẽ kỹ thuật: Khai triển bản vẽ kiến trúc , Chi tiết nội thất Chi tiết đồ gỗ, bản vẽ M&amp;E cơ bản đảm bảo theo yêu cầu của thiết kế.
						p - Triển khai bản vẽ kỹ thuật từ phương án 3D, nhận bàn giao từ bộ phận thiết kế.
						p - Cht chi tiết bản vẽ với khách hàng và đưa vào thi công.
						br

						a.collapse-submit(href="javascript:void(0)") ứng tuyển
				.collapse
					.collapse-heading
						p.career Tuyển nhân viên graphic designer
						p.number 03
						p.place tp đà nẵng
						p.time 24/08/2018
						.mdi.mdi-dots-horizontal
					.collapse-content
						a(href="javascript:void(0)").collapse-content-toggle-button
							i.mdi.mdi-close
						p
							strong Mô tả công việc:
						p asdasdasdasdasdasdasd
						a.collapse-submit(href="javascript:void(0)") ứng tuyển

		.collapse-mobile-wrapper