section.tintucds-1
	.container
		.row
			.col
				.tagline
					.title
						h1 tin tức

		.row
			.col
				ul
					li.active
						a(href="javascript:void(0)") tin trong ngành
					li
						a(href="javascript:void(0)") tin nội bộ
					li
						a(href="javascript:void(0)") chương trình khuyến mãi
					li
						a(href="javascript:void(0)") vật liệu nội thất