section.duanct-1
	.container
		.row
			.col
				.tagline
					.title
						h1 căn hộ anh dương - richstar

		.row
			.col
				.info
					ul
						li
							p Chủ đầu tư: Anh Dương
						li
							p Địa chỉ: Richstar Novaland
						li
							p Diện tích: 83 M2
						li
							p Phong cách: Hiện đại
						li
							p Chi phí: đang cập nhật

		.row
			.col
				.slider-wrapper
					.project-detail-slider
						.item
							figure
								.box-zoom
									a(href="javascript:void(0)")
										img(src="./img/duanct/1.png", alt="")
						.item
							figure
								.box-zoom
									a(href="javascript:void(0)")
										img(src="./img/duanct/1.png", alt="")
						.item
							figure
								.box-zoom
									a(href="javascript:void(0)")
										img(src="./img/duanct/1.png", alt="")
						.item
							figure
								.box-zoom
									a(href="javascript:void(0)")
										img(src="./img/duanct/1.png", alt="")
						.item
							figure
								.box-zoom
									a(href="javascript:void(0)")
										img(src="./img/duanct/1.png", alt="")
						.item
							figure
								.box-zoom
									a(href="javascript:void(0)")
										img(src="./img/duanct/1.png", alt="")
						.item
							figure
								.box-zoom
									a(href="javascript:void(0)")
										img(src="./img/duanct/1.png", alt="")
						.item
							figure
								.box-zoom
									a(href="javascript:void(0)")
										img(src="./img/duanct/1.png", alt="")
						.item
							figure
								.box-zoom
									a(href="javascript:void(0)")
										img(src="./img/duanct/1.png", alt="")
						.item
							figure
								.box-zoom
									a(href="javascript:void(0)")
										img(src="./img/duanct/1.png", alt="")
					.project-detail-thumbnails
						.thumbnail
							figure
								.box-zoom
									img(src="./img/duanct/1.png", alt="")
						.thumbnail
							figure
								.box-zoom
									img(src="./img/duanct/1.png", alt="")
						.thumbnail
							figure
								.box-zoom
									img(src="./img/duanct/1.png", alt="")
						.thumbnail
							figure
								.box-zoom
									img(src="./img/duanct/1.png", alt="")
						.thumbnail
							figure
								.box-zoom
									img(src="./img/duanct/1.png", alt="")
						.thumbnail
							figure
								.box-zoom
									img(src="./img/duanct/1.png", alt="")
						.thumbnail
							figure
								.box-zoom
									img(src="./img/duanct/1.png", alt="")
						.thumbnail
							figure
								.box-zoom
									img(src="./img/duanct/1.png", alt="")
						.thumbnail
							figure
								.box-zoom
									img(src="./img/duanct/1.png", alt="")
						.thumbnail
							figure
								.box-zoom
									img(src="./img/duanct/1.png", alt="")

				.slider-counter
					p.current-count 01
					p /
					p.total 15