section.banner-home
	.banner-home-wrapper
		.item(bg-img="./img/home/slider_1.png")
			.title
				.container
					.row
						.col
							h2 nói đến nhà đẹp, nói đến x home
			.banner-overlay
		.item(bg-img="./img/home/slider_1.png")
			.title
				.container
					.row
						.col
							h2 Dịch Vụ Chuyên Nghiệp Đến Từ Sự Tận Tâm Và Nỗ lực Không Ngừng
			.banner-overlay