section.tintucct-1
	.container
		.row
			.col-12.col-lg-8.main-content
				.time
					p 18-05-2018
				.title
					h1 ấn tượng với căn hộ phong cách homestay độc đáo
				.content
					h2 Không gian phòng khách và bàn ăn
					br
					p Kiến trúc sư thiết kế phòng khách và bàn ăn tạo nên không gian chung rộng rãi và thông thoáng. Nhờ có những diện kính lớn cả không gian luôn được chiếu sáng tự nhiên. Bên cạnh đó việc kết hợp với tông màu trắng khiến không gian thoáng hòa quyện cùng thiên nhiên, Không chỉ vậy, đồ nội thất tiện nghi, màu sắc hài hòa đã tạo điểm nhấn cho căn hộ đầy ấn tượng.
					br
					figure
						img(src="./img/tintucct/1.png", alt="")
						figcaption
							p Phòng khách nhỏ đáng yêu với view ra ban công xanh ngập tràn ánh nắng.
					br
					figure
						img(src="./img/tintucct/2.png", alt="")
						figcaption
							p Phòng khách nhỏ đáng yêu với view ra ban công xanh ngập tràn ánh nắng.

					br
					h2 Không gian phòng khách và bàn ăn
					br
					p Kiến trúc sư thiết kế phòng khách và bàn ăn tạo nên không gian chung rộng rãi và thông thoáng. Nhờ có những diện kính lớn cả không gian luôn được chiếu sáng tự nhiên. Bên cạnh đó việc kết hợp với tông màu trắng khiến không gian thoáng hòa quyện cùng thiên nhiên, Không chỉ vậy, đồ nội thất tiện nghi, màu sắc hài hòa đã tạo điểm nhấn cho căn hộ đầy ấn tượng.
					br
					figure
						img(src="./img/tintucct/3.png", alt="")
						figcaption
							p Phòng khách nhỏ đáng yêu với view ra ban công xanh ngập tràn ánh nắng.

					br
					h2 Không gian phòng khách và bàn ăn
					br
					p Kiến trúc sư thiết kế phòng khách và bàn ăn tạo nên không gian chung rộng rãi và thông thoáng. Nhờ có những diện kính lớn cả không gian luôn được chiếu sáng tự nhiên. Bên cạnh đó việc kết hợp với tông màu trắng khiến không gian thoáng hòa quyện cùng thiên nhiên, Không chỉ vậy, đồ nội thất tiện nghi, màu sắc hài hòa đã tạo điểm nhấn cho căn hộ đầy ấn tượng.
					br
					figure
						img(src="./img/tintucct/4.png", alt="")
						figcaption
							p Ban công ngập tràn sắc xanh trở thành nơi thư giãn tuyệt vời và lãng mạn cho bất kì ai ghé chân. Từng góc nhỏ đều được sắp xếp tinh tế, nhẹ nhàng. Sắc xanh của cây lá mang lại sức sống cho toàn bộ không gian sống.

					br
					h2 Không gian phòng khách và bàn ăn
					br
					p Kiến trúc sư thiết kế phòng khách và bàn ăn tạo nên không gian chung rộng rãi và thông thoáng. Nhờ có những diện kính lớn cả không gian luôn được chiếu sáng tự nhiên. Bên cạnh đó việc kết hợp với tông màu trắng khiến không gian thoáng hòa quyện cùng thiên nhiên, Không chỉ vậy, đồ nội thất tiện nghi, màu sắc hài hòa đã tạo điểm nhấn cho căn hộ đầy ấn tượng.
					br
					figure
						img(src="./img/tintucct/5.png", alt="")
						figcaption
							p Ban công ngập tràn sắc xanh trở thành nơi thư giãn tuyệt vời và lãng mạn cho bất kì ai ghé chân. Từng góc nhỏ đều được sắp xếp tinh tế, nhẹ nhàng. Sắc xanh của cây lá mang lại sức sống cho toàn bộ không gian sống.

			.col-12.col-lg-4
				.other-news
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/tintucct/1.png", alt="")
							figcaption
								.time
									p 18-05-2018
								.title
									h3 trang trí nội thất phòng ngủ theo phong cách midcentury
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/tintucct/2.png", alt="")
							figcaption
								.time
									p 18-05-2018
								.title
									h3 trang trí nội thất phòng ngủ theo phong cách midcentury
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/tintucct/3.png", alt="")
							figcaption
								.time
									p 18-05-2018
								.title
									h3 trang trí nội thất phòng ngủ theo phong cách midcentury
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/tintucct/4.png", alt="")
							figcaption
								.time
									p 18-05-2018
								.title
									h3 trang trí nội thất phòng ngủ theo phong cách midcentury
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/tintucct/5.png", alt="")
							figcaption
								.time
									p 18-05-2018
								.title
									h3 trang trí nội thất phòng ngủ theo phong cách midcentury
