section.tintucds-2
	.container
		.row.news
			.col-lg-8.main-news(data-aos="fade-right")
				a(href="/tintuc_ct.html")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 mẫu nội thất nhà phố điển hình cho gia đình thành thị
							.description
								p Nổi bật cho thiết kế nội thất nhà phố này có lẽ là sự hiện diện của gỗ. Từ bàn cho đến kệ, hay viền kính lớn trên tường cũng ngập tràn màu nâu gỗ.
			.col-lg-4.sub-news(data-aos="fade-left")
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 Những mẫu thiết kế nội thất từ giấy gián giả đá cẩm thạch đẹp tuyệt vời
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 GỖ MDF LÀ GÌ? BẢNG MÀU VÀ BÁO GIÁ TẤM MDF

		.row.normal-news
			.col-12.col-md-6.col-lg-4.normal-news-item(data-aos="fade-down-right")
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 mẫu nội thất nhà phố điển hình cho gia đình thành thị
			.col-12.col-md-6.col-lg-4.normal-news-item(data-aos="fade-down")
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 mẫu nội thất nhà phố điển hình cho gia đình thành thị
			.col-12.col-md-6.col-lg-4.normal-news-item(data-aos="fade-down-left")
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 mẫu nội thất nhà phố điển hình cho gia đình thành thị
			.col-12.col-md-6.col-lg-4.normal-news-item(data-aos="fade-up-right")
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 mẫu nội thất nhà phố điển hình cho gia đình thành thị
			.col-12.col-md-6.col-lg-4.normal-news-item(data-aos="fade-up")
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 mẫu nội thất nhà phố điển hình cho gia đình thành thị
			.col-12.col-md-6.col-lg-4.normal-news-item(data-aos="fade-up-left")
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 mẫu nội thất nhà phố điển hình cho gia đình thành thị

.modulepager
	ul.pagination
		li
			a(href="javascript:void(0)").FirstPage 1
		li
			a(href="javascript:void(0)").BackPage 1
		li.active
			a(href="javascript:void(0)") 1
		li
			a(href="javascript:void(0)") 2
		li
			a(href="javascript:void(0)") 3
		li
			a(href="javascript:void(0)").NextPage 3
		li
			a(href="javascript:void(0)").LastPage 3