section.thuvien-1
	.container
		.row
			.col
				.tagline
					.title(data-aos="fade-up")
						h1 thư viện
		.row(data-aos="fade-up")
			.col-md-6
				.main-gallery
					figure.gallery
						a(href="./img/thuvien/1.png")
							img(src="./img/thuvien/1.png", alt="")
						a(href="./img/thuvien/1.png")
							img(src="./img/thuvien/1.png", alt="")
						a(href="./img/thuvien/1.png")
							img(src="./img/thuvien/1.png", alt="")
						a(href="./img/thuvien/1.png")
							img(src="./img/thuvien/1.png", alt="")
				.sub-gallery
					figure.gallery
						a(href="./img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
						a(href="./img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
						a(href="./img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
						a(href="./img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
					figure.gallery
						a(href="./img/thuvien/2.png")
							img(src="img/thuvien/2.png", alt="")
						a(href="img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
						a(href="img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
						a(href="img/thuvien/2.png")
							img(src="img/thuvien/2.png", alt="")
			.col-md-6.gallery-wrapper-reverse
				.main-gallery
					figure.gallery
						a(href="./img/thuvien/1.png")
							img(src="./img/thuvien/1.png", alt="")
						a(href="./img/thuvien/1.png")
							img(src="./img/thuvien/1.png", alt="")
						a(href="./img/thuvien/1.png")
							img(src="./img/thuvien/1.png", alt="")
						a(href="./img/thuvien/1.png")
							img(src="./img/thuvien/1.png", alt="")
				.sub-gallery
					figure.gallery
						a(href="./img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
						a(href="./img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
						a(href="./img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
						a(href="./img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
					figure.gallery
						a(href="./img/thuvien/2.png")
							img(src="img/thuvien/2.png", alt="")
						a(href="img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
						a(href="img/thuvien/2.png")
							img(src="./img/thuvien/2.png", alt="")
						a(href="img/thuvien/2.png")
							img(src="img/thuvien/2.png", alt="")

		.row.normal-gallery(data-aos="fade-up")
			.col-6.col-md-3
				figure.gallery
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
			.col-6.col-md-3
				figure.gallery
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
			.col-6.col-md-3
				figure.gallery
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
			.col-6.col-md-3
				figure.gallery
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")
					a(href="./img/thuvien/1.png")
						img(src="./img/thuvien/1.png", alt="")

.modulepager
	ul.pagination
		li
			a(href="javascript:void(0)").FirstPage 1
		li
			a(href="javascript:void(0)").BackPage 1
		li.active
			a(href="javascript:void(0)") 1
		li
			a(href="javascript:void(0)") 2
		li
			a(href="javascript:void(0)") 3
		li
			a(href="javascript:void(0)").NextPage 3
		li
			a(href="javascript:void(0)").LastPage 3