section.tuyendung-1
	.container
		.row
			.col
				.tagline
					.title
						h1 tuyển dụng
		.row
			.col-md-6
				figure
					.box-zoom
						img(src="./img/tuyendung/1.png", alt="")
			.col-md-6
				.content
					p Hãy tìm kiếm cơ hội nghề nghiệp tại X’Home để khẳng định bản thân và giao lưu học hỏi tạo cho bản thân nền tảng kiến thức vững vàng trong môi trường làm việc thân thiện và năng động
					p Trong định hướng phát triển nhân sự, X’Home tập trung xây dựng chính sách thu hút nhân tài thông qua chính sách lương, thưởng đặc biệt cạnh tranh kết hợp với các hoạt động đào tạo, bồi dưỡng nhằm giữ chân CBNV lâu dài, xây dựng phát triển đội ngũ quản lý kế thừa nhằm đáp ứng nhu cầu nhân sự cấp quản lý cho những năm tiếp theo cũng như thu hút nhân lực giỏi từ nhiều nguồn khác nhau về làm việc cho Công ty.
				.contact
					h2 Hồ sơ gửi về:

					p
						i.mdi.mdi-map-marker
						span Số 514 - Hoàng Diệu - Q Hải Châu - TP Đà Nẵng
					p
						i.mdi.mdi-phone
						span 0236 656 3939
					p
						i.mdi.mdi-email
						span info@xhomedanang.com
