section.duands-1
	.container
		.row
			.col
				.tagline
					.title
						h1 dự án

		.row
			.col
				ul
					li.active
						a(href="javascript:void(0)") nhà phố - căn hộ
					li
						a(href="javascript:void(0)") nhà hàng - cafe
					li
						a(href="javascript:void(0)") văn phòng
					li
						a(href="javascript:void(0)") thi công thực tế