footer.canhcam-footer-1
	section.footer-tools
		.container
			.row
				.col-lg-8
					.footer-nav-bg(bg-img="./img/global/footer-1.png")
					.footer-nav-wrapper
						.footer-nav
							.block
								.title
									a(href="javascript:void(0)")
										h3 giới thiệu
								.links
									.link
										a(href="javascript:void(0)") - giới thiệu
									.link
										a(href="javascript:void(0)") - hệ thống
									.link
										a(href="javascript:void(0)") - tuyển dụng
							.block
								.title
									a(href="javascript:void(0)")
										h3 dự án
								.links
									.link
										a(href="javascript:void(0)") - nhà phố - căn hộ
									.link
										a(href="javascript:void(0)") - nhà hàng - cafe
									.link
										a(href="javascript:void(0)") - văn phòng
									.link
										a(href="javascript:void(0)") - thi công thực tế
							.block
								.title
									a(href="javascript:void(0)")
										h3 dịch vụ
								.links
									.link
										a(href="javascript:void(0)") - thiết kế nhà phố - căn hộ
									.link
										a(href="javascript:void(0)") - thiết kế văn phòng - nhà hàng - showroom
									.link
										a(href="javascript:void(0)") - thiết kế kiến trúc - thi công xây dựng

					.footer-info-wrapper
						.footer-info
							.footer-media
								.footer-logo
									a(href="javascript:void(0)")
										img(src="./img/global/logo-footer.png", alt="")
								.footer-social
									a(href="javascript:void(0)")
										i.fab.fa-facebook-f
									a(href="javascript:void(0)")
										i.fab.fa-twitter
									a(href="javascript:void(0)")
										i.fab.fa-instagram
									a(href="javascript:void(0)")
										i.fab.fa-linkedin-in
							.footer-contact
								.title
									h3 công ty cổ phần nội thất thông minh xhome đà nẵng
								.item
									i.mdi.mdi-home
									a(href="javascript:void(0)") số 514 - hoàng diệu - q hải châu - tp đà nẵng
								.item
									i.mdi.mdi-phone
									a(href="javascript:void(0)") 0236 656 3939
				.col-lg-4
					.footer-form-bg(bg-img="./img/global/footer-2.png")
					.footer-form-wrapper
						.footer-form
							.title
								h3 đăng ký tư vấn
							.wrap-form
								.contact-form
									.form-group
										input(type="text" placeholder="họ tên")
									.form-group
										input(type="text" placeholder="email")
									.form-group
										input(type="text" placeholder="số điện thoại")
									.form-group
										input(type="text" placeholder="tiêu đề")
									.form-group
										textarea(placeholder="nội dung" cols="30" rows="3")
								.form-group.frm-btn-wrap
									.frm-btn
										input(type="submit", value="Gửi")
	section.footer-copyright
		.container
			.row
				.col
					a(href="javascript:void(0)").backtotop
						div.mdi.mdi-arrow-left
					p
						span Copyright ©2018 Xhome đà nẵng. Tất cả quyền đều được bảo hộ. 
						span
							|Thiết kế bởi 
							a(href="https://www.canhcam.vn/") Cánh Cam.