section.dichvuct-2
	.container
		.row
			.col
				.tabs-wrapper
					.tab-headers-wrapper
						.tab-headers-mapping
					.tab-contents-wrapper
						.tab-contents-mapping
	.tabs
		a.tab-header.active(href="javascript:void(0)" data-tab-id="1")
			.icon
				img(src="./img/dichvuct/1.png", alt="")
			.content
				.counter
					p 01.
				.title
					h2 quy trình thiết kế asdasdasdasdasdasd asdasdasdasd
		.tab-content.active(data-tab="1")
			a(data-fancybox="./img/dichvuct/main-1.png" href="./img/dichvuct/main-1.png")
				img(src="./img/dichvuct/main-1.png", alt="")

		a.tab-header(href="javascript:void(0)" data-tab-id="2")
			.icon
				img(src="./img/dichvuct/2.png", alt="")
			.content
				.counter
					p 02.
				.title
					h2 quy trình thiết kế
		.tab-content(data-tab="2")
			a(data-fancybox="./img/dichvuct/main-2.png" href="./img/dichvuct/main-2.png")
				img(src="./img/dichvuct/main-2.png", alt="")

		a.tab-header(href="javascript:void(0)" data-tab-id="3")
			.icon
				img(src="./img/dichvuct/3.png", alt="")
			.content
				.counter
					p 03.
				.title
					h2 quy trình thiết kế
		.tab-content(data-tab="3")
			a(data-fancybox="./img/dichvuct/main-3.png" href="./img/dichvuct/main-3.png")
				img(src="./img/dichvuct/main-3.png", alt="")

		a.tab-header(href="javascript:void(0)" data-tab-id="4")
			.icon
				img(src="./img/dichvuct/4.png", alt="")
			.content
				.counter
					p 04.
				.title
					h2 quy trình thiết kế
		.tab-content(data-tab="4")
			a(data-fancybox="./img/dichvuct/4.png" href="./img/dichvuct/4.png")
				img(src="./img/dichvuct/4.png", alt="")