section.dichvuct-1
	.container
		.row
			.col
				.tagline
					.title
						h1 thiết kế nhà phố - căn hộ
					.description
						p Chúng tôi cung cấp dịch vụ thiết kế tổng thể để giúp quá trình thi công được hỗ trợ tốt nhất để đảm bảo tạo ra một công trình hoàn hảo