section.gioithieu-3(bg-img="./img/global/black-dotted-bg.png")
	.container
		.row
			.col
				.tagline
					.title(data-aos="fade-down")
						h2 Tầm nhìn và sứ mệnh
		.row.blocks
			.col-md-4.block-wrapper(data-aos="fade-down-right")
				.block
					figure
						.box-zoom
							img(src="./img/gioithieu/2.png", alt="")
							.block-skew
								img(src="./img/gioithieu/block-skew.png", alt="")
						figcaption
							.title
								h3 tầm nhìn
							.description
								p Trở thành công ty nội thất hàng đầu tại TP.HCM, phát triển và mở rộng hệ thống ở khu vực miền Nam.
			.col-md-4.block-wrapper(data-aos="fade-down")
				.block
					figure
						.box-zoom
							img(src="./img/gioithieu/3.png", alt="")
							.block-skew
								img(src="./img/gioithieu/block-skew.png", alt="")
						figcaption
							.title
								h3 sứ mệnh
							.description
								p Kết nối, đầu tư và phát triển, xây dựng và quảng bá thương hiệu, cam kết chất lượng sản phẩm, dịch vụ.
			.col-md-4.block-wrapper(data-aos="fade-down-left")
				.block
					figure
						.box-zoom
							img(src="./img/gioithieu/4.png", alt="")
							.block-skew
								img(src="./img/gioithieu/block-skew.png", alt="")
						figcaption
							.title
								h3 giá trị cốt lõi
							.description
								p Chân thành, trách nhiệm, đam mê và luôn có tư duy đổi mới.
