block var

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=vietnamese', rel='stylesheet')
		link(rel="stylesheet", href="styles/core.min.css")
		link(rel="stylesheet", href="styles/main.min.css")
		<!-- inject:css -->
		<!-- endinject -->
		title #{title}

	body(class=bodyClass)
		block header
		main
			block main
		block footer
		script(src="scripts/core.min.js")
		script(src="scripts/main.min.js")
		<!-- inject:js -->
		<!-- endinject -->