header.canhcam-header-1
	.container
		.row
			.col
				.desktop-header
					.header
						.logo
							a(href="javascript:void(0)")
								img(src="./img/global/logo.png", alt="")
						.partner
							a(href="javascript:void(0)")
								img(src="./img/global/header-1.png", alt="")
						.partner
							a(href="javascript:void(0)")
								img(src="./img/global/header-2.png", alt="")
						.partner
							a(href="javascript:void(0)")
								img(src="./img/global/header-3.png", alt="")
						.tools
							.phone
								i.mdi.mdi-phone
								a(href="javascript:void(0)") 028 6656 2288
							.language
								.dropdown
									a#dropdownMenuLink.dropdown-toggle(href='javascript:void(0)', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
										| VN
									.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
										a.dropdown-item.active.ml-0(href='javascript:void(0)').text-center.text-capitalize VN
										a.dropdown-item.ml-0(href='javascript:void(0)').text-center.text-capitalize EN
						button.hamburger.hamburger--emphatic(type='button')
							span.hamburger-box
								span.hamburger-inner
				.desktop-nav
					.custom-nav
						.custom-nav-item
							a(href="javascript:void(0)") giới thiệu
						.custom-nav-item
							a(href="javascript:void(0)") dịch vụ
						.custom-nav-item
							a(href="javascript:void(0)") dự án
						.custom-nav-item
							a(href="javascript:void(0)") tin tức
						.custom-nav-item
							a(href="javascript:void(0)") thư viện
						.custom-nav-item
							a(href="javascript:void(0)") hệ thống
						.custom-nav-item
							a(href="javascript:void(0)") tuyển dụng
						.custom-nav-item
							a(href="javascript:void(0)") liên hệ
					.search-wrapper
						button.search-toggle
							i.mdi.mdi-magnify
						.desktop-search
							.searchbox
								input(type="text").searchinput
								button.searchbutton
									i.mdi.mdi-magnify

section.sidemenu-header
	.container
		.row
			.col
				.sidemenu-header-mapping
section.header-backdrop