extends _layout/_layout.pug

block var
	- title = 'Demo - Dịch vụ'
	- bodyClass = 'service-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/dichvu_ct/d-1/index.pug
	include ../lib/dichvu_ct/d-2/index.pug
block footer
	include ../lib/footer/f-1/index.pug