<?xml version="1.0" encoding="utf-8" ?>
<settings>

	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="XHome-Menu Header" value="1" resourcefile="" />
		<add name="XHome-Footer Nav 1" value="2" resourcefile="" />
		<add name="XHome-Footer Nav 2" value="4" resourcefile="" />
		<add name="XHome-Footer Nav 3" value="8" resourcefile="" />
		<add name="XHome-DichVu" value="16" resourcefile="" />
		<add name="XHome-DuAnMenu" value="32" resourcefile="" />
		<add name="XHome-TinTucMenu" value="64" resourcefile="" />
		<add name="XHome-Home-DichVu" value="128" resourcefile="" />
	</position>

</settings>