section.duands-2
	.container
		.projects
			.nth-row
				a(href="javascript:void(0)" data-aos="fade-down-right").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/4.png", alt="")
						figcaption
							.block-title
								h2 a toàn - tp lạng sơn
							.overlay
				a(href="javascript:void(0)" data-aos="fade-down").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/5.png", alt="")
						figcaption
							.block-title
								h2 a dũng - lào cai
							.overlay
				a(href="javascript:void(0)" data-aos="fade-down-left").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/6.png", alt="")
						figcaption
							.block-title
								h2 chị thanh, căn duplex, tràng an
							.overlay
			.nth-row
				a(href="javascript:void(0)" data-aos="fade-right").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/7.png", alt="")
						figcaption
							.block-title
								h2 anh thắng - vincom thanh hóa
							.overlay
				a(href="javascript:void(0)" data-aos="zoom-out").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/8.png", alt="")
						figcaption
							.block-title
								h2 chị oanh - masteri thảo điền
							.overlay
				a(href="javascript:void(0)" data-aos="fade-left").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/9.png", alt="")
						figcaption
							.block-title
								h2 anh hoàng - bt dream town, hà nội
							.overlay
			.nth-row
				a(href="javascript:void(0)" data-aos="fade-up-right").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/7.png", alt="")
						figcaption
							.block-title
								h2 anh thắng - vincom thanh hóa
							.overlay
				a(href="javascript:void(0)" data-aos="fade-up").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/8.png", alt="")
						figcaption
							.block-title
								h2 chị oanh - masteri thảo điền
							.overlay
				a(href="javascript:void(0)" data-aos="fade-up-left").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/9.png", alt="")
						figcaption
							.block-title
								h2 anh hoàng - bt dream town, hà nội
							.overlay

.modulepager
	ul.pagination
		li
			a(href="javascript:void(0)").FirstPage 1
		li
			a(href="javascript:void(0)").BackPage 1
		li.active
			a(href="javascript:void(0)") 1
		li
			a(href="javascript:void(0)") 2
		li
			a(href="javascript:void(0)") 3
		li
			a(href="javascript:void(0)").NextPage 3
		li
			a(href="javascript:void(0)").LastPage 3