section.duanct-2
	.container
		.row
			.col
				.tagline
					.title
						h2 dự án khác
		.projects
			.nth-row.other-project-details
				a(href="javascript:void(0)").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/4.png", alt="")
						figcaption
							.block-title
								h2 a toàn - tp lạng sơn
							.overlay
				a(href="javascript:void(0)").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/5.png", alt="")
						figcaption
							.block-title
								h2 a dũng - lào cai
							.overlay
				a(href="javascript:void(0)").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/6.png", alt="")
						figcaption
							.block-title
								h2 chị thanh, căn duplex, tràng an
							.overlay
				a(href="javascript:void(0)").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/4.png", alt="")
						figcaption
							.block-title
								h2 a toàn - tp lạng sơn
							.overlay
				a(href="javascript:void(0)").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/5.png", alt="")
						figcaption
							.block-title
								h2 a dũng - lào cai
							.overlay
				a(href="javascript:void(0)").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/6.png", alt="")
						figcaption
							.block-title
								h2 chị thanh, căn duplex, tràng an
							.overlay