section.dichvuds-2(bg-img="./img/dichvuds/4.png" data-aos="fade-up")
	.container
		.row
			.col
				.title
					h2 chìa khóa trao tay nhận ngay nhà đẹp
				.button
					a(href="javascript:void(0)") liên hệ ngay