section.home-news
	.container
		.row
			.col
				.tagline(data-aos="fade-up")
					.title
						h2 tin tức
					.description
						p Nơi chia sẻ những thông tin thú vị về lĩnh vực thiết kế, xây dựng dân dụng.
		.row.news
			.col-lg-8.main-news(data-aos="fade-right")
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 mẫu nội thất nhà phố điển hình cho gia đình thành thị
							.description
								p Nổi bật cho thiết kế nội thất nhà phố này có lẽ là sự hiện diện của gỗ. Từ bàn cho đến kệ, hay viền kính lớn trên tường cũng ngập tràn màu nâu gỗ.
			.col-lg-4.sub-news(data-aos="fade-left")
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 Những mẫu thiết kế nội thất từ giấy gián giả đá cẩm thạch đẹp tuyệt vời
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/10.png", alt="")
						figcaption
							.time
								p 18-05-2018
							.title
								h3 GỖ MDF LÀ GÌ? BẢNG MÀU VÀ BÁO GIÁ TẤM MDF

		.row
			.col
				.viewmore-wrapper(data-aos="fade-up")
					a(href="javascript:void(0)").nth-viewmore Xem thêm