section.gioithieu-2
	.bg-desktop(bg-img="./img/gioithieu/bg-1.png")
	.bg-mobile(bg-img="./img/gioithieu/bg-2.png")
	.container
		.row
			.col
				.video(data-aos="fade-up")
					a(href="https://www.youtube.com/watch?v=d-pFe-TtPU8" data-fancybox)
						figure
							.box-zoom
								img(src="./img/gioithieu/1.png", alt="")
							.overlay
								img(src="./img/global/play.png", alt="")
		.row
			.col
				.price
					.title(data-aos="fade-up")
						h2 giải thưởng
					.content
						ul
							li(data-aos="fade-up")
								p Sản phẩm dịch vụ uy tín, Chất lượng năm 2015 Do Hội tiêu chuẩn và Bảo vệ người tiêu dùng Việt Nam bình chọn. Top những thương hiệu mạnh dẫn đầu Việt Nam năm 2016 do Người tiêu dùng bình chọn.
							li(data-aos="fade-up")
								p Tại hội nghị công bố chỉ số tín nhiệm doanh nghiệp Việt Nam 2016 (Lần thứ 12) - X'HOME đã được Hội đồng Viện doanh nghiệp Việt Nam và Tổ chức Đánh giá &amp; Chứng nhận toàn cầu INTERCONFORMITY - CHLB ĐỨC trao giải thưởng thương hiệu vàng theo đánh giá chỉ số tín nhiệm - Chứng chỉ giám sát chất lượng có giá trị trên toàn cầu.
							li(data-aos="fade-up")
								p Giành giải thưởng TOP 10 Thương hiệu vàng Thăng Long năm 2017 do người tiêu dùng bình chọn.
							li(data-aos="fade-up")
								p Là đối tác thường xuyên của Đài truyền hình Việt Nam VTV, Đài truyền hình KTS VTC trong các chương trình với nội dung về Nội thất, Kiến trúc, Nhà đẹp và Địa ốc...