section.home-3(bg-img="./img/global/black-dotted-bg.png")
	.container
		.row
			.col
				.title(data-aos="fade-up")
					h2 hình ảnh công trình thực tế
		.projects
			.nth-row
				a(href="javascript:void(0)" data-aos="fade-down-right").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/4.png", alt="")
						figcaption
							.block-title
								h2 a toàn - tp lạng sơn
							.overlay
				a(href="javascript:void(0)" data-aos="fade-down").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/5.png", alt="")
						figcaption
							.block-title
								h2 a dũng - lào cai
							.overlay
				a(href="javascript:void(0)" data-aos="fade-down-left").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/6.png", alt="")
						figcaption
							.block-title
								h2 chị thanh, căn duplex, tràng an
							.overlay
			.nth-row
				a(href="javascript:void(0)" data-aos="fade-up-right").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/7.png", alt="")
						figcaption
							.block-title
								h2 anh thắng - vincom thanh hóa
							.overlay
				a(href="javascript:void(0)" data-aos="fade-up").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/8.png", alt="")
						figcaption
							.block-title
								h2 chị oanh - masteri thảo điền
							.overlay
				a(href="javascript:void(0)" data-aos="fade-up-left").nth-col.project
					figure
						.box-zoom
							img(src="./img/home/9.png", alt="")
						figcaption
							.block-title
								h2 anh hoàng - bt dream town, hà nội
							.overlay

		.row
			.col
				.viewmore-wrapper
					a(href="javascript:void(0)").nth-viewmore Xem thêm